<html>

<head>
    <script>
        window.onload = function () {
            var readData = "<%= data1 %>";
            readData = readData.split(",");
            var i = 0;
            var dataList = [];
            while (i < readData.length) {
                var dataNew = { x: Number(readData[i]), y: Number(readData[i + 1]) };
                dataList.push(dataNew);
                i += 2;
            }
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "dark2",
                title: {
                    text: "EDNA Analysis"
                },
                axisX: {
                    valueFormatString: "",
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                axisY: {
                    title: "Calculated focus percentage",
                    crosshair: {
                        enabled: true
                    }
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "bottom",
                    horizontalAlign: "left",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: [{
                    type: "line",
                    showInLegend: true,
                    name: "Eye Gaze",
                    markerType: "square",
                    xValueFormatString: "",
                    color: "#F08080",
                    dataPoints: dataList
                },
                {
                    type: "line",
                    showInLegend: true,
                    name: "Head position",
                    lineDashType: "dash",
                    dataPoints: dataList
                }]
            });
            chart.render();

            function toogleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }

        }
    </script>
</head>

<body>

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>